.blog-body {
  background:#641E16;
}

.logo-img {
  width: 100px;
}

.container{
 /* margin-top: 10px;*/
 width: 90%;
 margin:auto;

}
.cabecera{
	background:white;
}
.navbar{
	background:#E67E22;
	text-align: center;
}
.nav > li >a{
	color:#641E16;
}


.redes-sociales {
  margin-top: 30px;
}

.img-social {
  width: 25px;
  height: 25px;
}
.foto-blog {
  width: 100%;
}
.container-fluid {
  
  background:white;
}


.titulos{
  font-size: 18px;
  font-weight: bolder;
  padding: 10px;
}

.left-column {
  border-right: 1px dashed  #BDC3C7
}
.user_data {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 18px;
}
.sin-borde{
	background:none;
	border:none;	
}
.glyphicon-2x:before{ font-size: 48px; } 
.input-element {
  width: 100%;
  padding: 10px;
  color:#7F8C8D;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
   border: 1px solid #797D7F;
  margin-top: 5px;
}
.input-search {
  width: 100%;
  height:52px;
  color: #7F8C8D;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0 4px 4px 0;
   border: 1px solid #BDC3C7;
 margin-top: 1px;
}

@media (max-width: 770px) {
  h2 {
    font-size: 22px;
  }

  .titulos {
    font-size: 15px;
  }

  .right-column {
    display: none;
  }

	.left-column {
	  border-right: none
	}

}
